@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  outline: none;
}

:root {
  /* colors */
  --body--bg-color: #fff;
  --sidebar--bg-color: #f4f4f4;
  --text-color: #333;
  --title-color: #111;
  --date-color: #1f94c2;
  --dark-body-bg-color: #242424;
  --dark-sidebar-bg-color: #171717;
  --dark-text-color: #d8d8d8;
  --dark-title-color: #ffffff;
  --dark-date-color: #e6ef71;

  --icone-color-linkedin: #0a66c2;
  --icone-color-github: #24292f;
  --icone-color-instagram: linear-gradient(49.2deg,#f9ed32 10%,#ee2a7b 55%,#002aff);
  --icone-color-facebook: #1877F2;
  --icone-color-twitter: rgba(29,161,242,1.00);
  --icone-color: var(--text-color);
  --circle-color: #AAAAAA;
  --circle-color-plain: #555; 
  --dark-icon-color:var(--dark-text-color);
  --dark-circle-color: rgb(108, 108, 108);
  --dark-circle-color-plain: rgb(238, 238, 238);

  /* fonts */
  --body-font: "roboto", "sans-serif";
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.3rem;
  --h3-font-size: 1.1rem;
  --h4-font-size: 1rem;

  /* helpers */
  --spacing-1: .4rem;
  --spacing-2: .8rem;
  --spacing-3: 1.2rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;

}

body {
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--body--bg-color);
  /* overflow-y: hidden; */
}
.dark{
  color: var(--dark-text-color);
  background-color: var(--dark-body-bg-color);
}

h1, h2, h3 {
  margin-bottom: var(--spacing-1);
  font-weight: 400;
  color: var(--title-color);
}
.dark h1, .dark h2, .dark h3 {
  color: var(--dark-title-color);
}

h1 {
  font-size: var(--h1-font-size);
  text-transform: uppercase;
}
h1.user__name {
  margin-top: var(--spacing-1);
}

h2 {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-4);
  font-size: var(--h2-font-size);
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: underline solid 2px Black;
  text-underline-offset: 2px;
}
.dark h2{
  text-decoration: underline solid 2px white;
  text-underline-offset: 3px;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.dark button{
  color: var(--dark-button-color);
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: var(--spacing-2);
}
/* ul {
  padding-left: 1.3rem;
} */
li {
  margin-bottom: var(--spacing-2);
  list-style-type: none;
}

/**/
.mb3{
  margin-bottom: var(--spacing-3);
}
.mb5{
  margin-bottom: var(--spacing-5);
}

/* grids */

@media screen and (min-width: 768px) {
  .grid__container{
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.grid__row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
}

}


/* layout */

.sidebar{
  padding:1.5rem;
  background-color: var(--sidebar--bg-color);
}

.dark .sidebar{
  background-color: var(--dark-sidebar--bg-color);
}

.actions{
  display: flex;
  justify-content: space-between;
}

/* Icons */
.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--circle-color);
}
.circle-plain {
  background: linear-gradient(to bottom, #5ddd6d, #4d9938);
}
.circle.false{
  box-shadow: inset 1px 1px 2px 1px #00000073;
}

.dark .circle {
  background-color: var(--dark-circle-color);
}
.dark .circle-plain {
  background-color: var(--dark-circle-color-plain);
}

.main{
  padding:1.5rem;
}


/* Generate PDF */
#cv-print{
  width: 100% !important; 
}
.cv-print .actions{
  display: none !important;
}
.cv-print h2{
  text-decoration:none;
}
.cv-print ul {
  margin:0;
  padding:0;
  
}
.cv-print ul li {
  list-style-type:none;
}
.cv-print ul li:before {
  content: "•";
  display: inline-block; 
  font-size: 110%;
  padding-right: 10px;
}
.cv-print .grid__container {
  font-size:12px !important;
  max-width: 210mm;
}
.cv-print .sidebar {
  height: 297mm;
}
.cv-print .user__infos svg {
  display: none !important;
}
.cv-print .user__social {
  display: none !important;
}
.cv-print .circle {
  width:10px;
  height:10px;
}
.cv-print .grid__date {
  margin-top:5px;
}